/* styles.css */  
html, body {  
    height: 100%;  
    margin: 0; /* 移除默认的边距 */  
    padding: 0; /* 移除默认的内边距 */  
} 
body {  
    font-family: Arial, sans-serif;  
    margin: 20px;  
    padding: 0;  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    /* 设置背景图片 */  
    background-image: url('cizhuan.jpg');  
      
    /* 设置背景图片覆盖整个页面，而不失真 */  
    background-size: cover;  
      
    /* 确保背景图片不重复 */  
    background-repeat: no-repeat;  
      
    /* 设置背景图片的位置（如果需要） */  
    background-position: center;  
}  
  
.input-container {  
    display: flex;  
    flex-direction: column;  
    align-items: flex-start; /* 确保整个容器的内容左对齐 */  
    width: 300px; /* 设定一个合适的宽度 */  
}  
  
.input-row {  
    display: flex;  
    align-items: center; /* 垂直居中 */  
    margin-bottom: 15px; /* 行间距 */  
    justify-content: space-between; /* 文本左对齐，输入框右对齐 */  
}  
  
.input-row label {  
    flex-shrink: 0; /* 防止标签缩小 */  
}  
  
.input-row input[type="number"] {  
    flex-grow: 1; /* 允许输入框增长以填充剩余空间 */  
    margin: 10px;
    padding: 8px;  
    box-sizing: border-box;  
}   
  
button {  
    padding: 10px 20px;  
    background-color: #4CAF50;  
    color: white;  
    border: none;  
    cursor: pointer;  
    font-size: 16px;  
    margin-top: 20px; /* 按钮和输入框之间的间距 */  
    width: 100%; /* 使按钮宽度与输入框容器相同 */  
}  
  
button:hover {  
    background-color: #45a049;  
}  
  
#results {  
    margin-top: 20px;  
    padding: 10px;  
    border: 1px solid #ccc;  
    background-color: #f9f9f9;  
    width: 300px; /* 与输入框容器宽度相同 */  
    text-align: center; /* 结果居中显示 */  
}